<!DOCTYPE html>
<html>
<head>

	<title>postman</title>
	
</head>
<body ng-app='user'>
<div class="container" ng-controller="indexController" >
  <a href="#home" style="padding-left:170px;"><img src="img/icon.png" width="17px"></a>
 	<input type="text" placeholder="Search On Job Finder" style="margin-top: 5px;margin-left: 5px;">

      <a  href="#/signout" style="right:20px ;width:100px;float:right;padding-right:20px;" ng-if="email">signout</a>
    
    
		  <a href="#settings" ng-if="email" style="float:right;"><img src="img/settings.png" width="17px"></a>      
     
      	<a href="#/profile"ng-if="email" style="float:right;">{{email}}</a>    


  <div class="dropdown" style="float:right;padding-right:20px;" ng-if="!email">
    <button class="dropbtn" style=" width:200px;">get start</button>
    <div class="dropdown-content"  style="right:20px ;width:200px;" >
      <a  href="#/signin">SignIn</a>
      <a href="#/signup">SignUp</a>
      
    </div>
  </div> 
	</div>

	<ng-view></ng-view>



	
</body>
  	<link rel="stylesheet" href="style/style.css">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-route/angular-route.js"></script>
	<script src="app/account/SIGNIN.js"></script>
	<script src="app/account/SIGNUP.js"></script>
	<script src="app/account/SIGNOUT.js"></script>
	<script src="app/account/SETTINGS.js"></script>
	<script src="app/account/PROFILE.js"></script>
	<script src="app/account/indexCtr.js"></script>
	<script src="app/account/MAIN.js"></script>
	<script src="app/services.js"></script>
	<script src="app/app.js"></script>
	<script src="app/account/MAIN.js"></script>
	

</html>
