
<br>
<div class="uploadBox" >
    <div>
        <textarea class="statusBox" placeholder="what is your problem or  advice ??" ng-model="post"style="width:100%;resize: none;padding-bottom:40px;" required ></textarea><br>
    </div>
    <br>
    <input type="submit" ng-click="posting(post)" value="post">
</div>



<div class="uploadBox" style="color:white" ng-repeat=" (key,post) in postInfo" >
   <b style="font-size:20px"> <a href="#/user?id={{post.poster}}">{{post.poster}}</a></b>
   <p style="font-size:15px">{{post.postText}}</p>
<hr>

<div style="padding-left:30px;padding-right:190px" ng-repeat="(key2,com) in post.comments ">

	<b style="font-size:12px"> <a href="#/user?id={{com.commenter}}">{{com.commenter}}</a></b>
	<p style="font-size:10px">{{com.comment}}</p>
<hr>
</div>
<div style="padding-left:30px;padding-right:30px">

<input type="text" ng-model="comnttext" placeholder="wirte a comment..."><input type="submit"  ng-if="comnttext"ng-click="putComment(comnttext,key)" value="comment">
</div>

</div>
