<style>


ul li input {
  text-decoration: none;
  
  font-size: 20px;
  margin: 5px;
  display:inline-block;
}
ul {

  display: inline;
  margin: 0;
  padding: 0;
} 
ul li:hover ul {display: block;
  border: solid;
  border-color:#303030;
  border-radius: 20px; 
}
ul li ul {
  position: absolute;
  width: 340px;
  display: none;
}
ul li ul li { 
  background: #373737; 
  display: block;
  
}
ul li ul li a {display:block !important;} 

</style>

<span ng-repeat="one in info">


</span>

<span style="float:left; margin-top:20px;margin-left:20px; ">
  <img src="{{info.image_profile}}" height="250" width="200" style="margin-bottom:20px;" >
  <table style="width:100%; color:white;">
    <br>
    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
    
    <tr >
      <td><img src="img/emailIcon.ico" height="35"></td>
      <td style="margin-bottom:10px;" >{{info.email}}</td>

    </tr>
    <tr ng-click="phoneNumber()">
      <td><img src="img/phoneIcon.ico" height="35"></td>
      <td >{{info.phone}}</td>
      
    </tr>
    <tr ng-click="address()">
      <td><img src="img/locationIcon.png" height="35"></td>
      <td>{{info.address}}</td>
      
    </tr>
  </tr>
  <tr ng-click="work_at()">
    <td><img src="img/workicon.png" height="35"></td>
    <td>{{info.work_at}}</td>
    
  </tr>

  
</table>
</span>



<span style="float:right; margin-top:20px;margin-left:20px;color:white; width:70%">
  <p style="font-size:30px;margin-bottom:100px;margin-top:50px">{{info.firstName}} {{info.lastName}}</p>
  <div>
    <ul>
      <li>
        <br>
        <span class="labelSet">Education</span>
        <img src="img/addIcon.png" height="15">
        <ul>
          
          <li><input type="text" ng-model="university" placeholder="University"></li>
          <li><input type="text" ng-model="university_major" placeholder="Major"></li>
          <li><input type="text" ng-model="university_description" placeholder="Description"></li>
          <li> <p class="login-submit" style="margin-top:55px;">
            <button type="submit" class="login-button" ng-click="education(university,university_major,university_description)"  >d</button>
          </p></li>
          <li style="margin-left:10px;">add new record about Education</li>
        </ul>
      </li>
    </ul>
    <ol style="margin-left:40px;" ng-repeat="one in info.education">
      <li  class="classOne">{{one.university}}</li>
      <li  class="classTwo">{{one.major}}</li>
      <li  class="classTwo">{{one.description}}</li>
    </ol>
  </div>

  <div>
    <ul>
      <li>
        <br>
        <span class="labelSet">Skills</span>
        <img src="img/addIcon.png" height="15">
        <ul>
          
          <li><input type="text" ng-model="skill" placeholder="skill"></li>
          <li><input type="text" ng-model="skill_description" placeholder="Description"></li>
          <li> <p class="login-submit" style="margin-top:55px;">
            <button type="submit" class="login-button" ng-click="skills(skill,skill_description)"  >d</button>
          </p></li>
          <li style="margin-left:10px;">add new record about skills</li>
        </ul>
      </li>
    </ul>
    <ol style="margin-left:40px;" ng-repeat="one in info.skills">
      <li    class="classOne">{{one.skill}}</li>
      <li    class="classTwo">{{one.description}}</li>
      
    </ol>
  </div>
  <div>
    <ul>
      <li>
        <br>
        <span class="labelSet">Technical Skills</span>
        <img src="img/addIcon.png" height="15">
        <ul>
          
          <li><input type="text" ng-model="technical_skill" placeholder="skill"></li>
          <li><input type="text" ng-model="Technical_skill_description" placeholder="Description"></li>
          <li> <p class="login-submit" style="margin-top:55px;">
            <button type="submit" class="login-button" ng-click="technical_skills(technical_skill,Technical_skill_description)"  >d</button>
          </p></li>
          <li style="margin-left:10px;">add new record about Technical Skills</li>
        </ul>
      </li>
    </ul>
    <ol style="margin-left:40px;" ng-repeat="one in info.technical_skills">
      <li    class="classOne">{{one.technical_skill}}</li>
      <li    class="classTwo">{{one.description}}</li>
      
    </ol>
  </div>

  <div>
    <ul>
      <li>
        <br>
        <span class="labelSet">Certificates</span>
        <img src="img/addIcon.png" height="15">
        <ul>
          
          <li><input type="text" ng-model="certificate" placeholder="certificate"></li>
          <li><input type="text" ng-model="certificate_description" placeholder="Description"></li>
          <li> <p class="login-submit" style="margin-top:55px;">
            <button type="submit" class="login-button" ng-click="certificates(certificate,certificate_description)">d</button>
          </p></li>
          <li style="margin-left:10px;">add new record about certificate</li>
        </ul>
      </li>
    </ul>
    <ol style="margin-left:40px;" ng-repeat="one in info.certificates">
      <li    class="classOne">{{one.certificate}}</li>
      <li    class="classTwo">{{one.description}}</li>
      
    </ol>
  </div>




  <div>
    <ul>
      <li>
        <br>
        <span class="labelSet">Personal Projects</span>
        <img src="img/addIcon.png" height="15">
        <ul>
          
          <li><input type="text" ng-model="project" placeholder="certificate"></li>
          <li><input type="text" ng-model="project_description" placeholder="Description"></li>
          <li> <p class="login-submit" style="margin-top:55px;">
            <button type="submit" class="login-button" ng-click="personal_projects(project,project_description)">d</button>
          </p></li>
          <li style="margin-left:10px;">add new record about Personal Projects</li>
        </ul>
      </li>
    </ul>
    <ol style="margin-left:40px;" ng-repeat="one in info.personal_projects">
      <li    class="classOne">{{one.project}}</li>
      <li    class="classTwo">{{one.description}}</li>
      
    </ol>
  </div>



  <div>
    <ul>
      <li>
        <br>
        <span class="labelSet">Experiences</span>
        <img src="img/addIcon.png" height="15">
        <ul>
          
          <li><input type="text" ng-model="experience" placeholder="experience"></li>
          <li><input type="text" ng-model="experience_duration" placeholder="duration"></li>
          <li><input type="text" ng-model="experience_description" placeholder="Description"></li>
          <li> <p class="login-submit" style="margin-top:55px;">
            <button type="submit" class="login-button" ng-click="experiences(experience,experience_duration,experience_description)">d</button>
          </p></li>
          <li style="margin-left:10px;">add new record about Experiences</li>
        </ul>
      </li>
    </ul>
    <ol style="margin-left:40px;" ng-repeat="one in info.experiences">
      <li    class="classOne">{{one.experience}}</li>
      <li   class="classTwo">{{one.duration}}</li>
      <li class="classTwo">{{one.description}}</li>
      
    </ol>
  </div>







  <div>
    <ul>
      <li>
        <br>
        <span class="labelSet">Interests</span>
        <img src="img/addIcon.png" height="15">
        <ul>
          
          <li><input type="text" ng-model="interest" placeholder="interest"></li>
          
          <li> <p class="login-submit" style="margin-top:55px;">
            <button type="submit" class="login-button" ng-click="interests(interest)">d</button>
          </p></li>
          <li style="margin-left:10px;">add new record about Interests</li>
        </ul>
      </li>
    </ul>
    <ol style="margin-left:40px;" ng-repeat="one in info.interests">
      <li  style="font-size:30px;margin-left:40px;" class="classTwo">{{one.interest}}</li>  
    </ol>
  </div>








  <div>
    <ul>
      <li>
        <br>
        <span class="labelSet">Work Before</span>
        <img src="img/addIcon.png" height="15">
        <ul>
          
          <li><input type="text" ng-model="work" placeholder="Company"></li>
          <li><input type="text" ng-model="work_duration" placeholder="duration"></li>
          
          <li> <p class="login-submit" style="margin-top:55px;">
            <button type="submit" class="login-button" ng-click="work_before(work,work_duration)">d</button>
          </p></li>
          <li style="margin-left:10px;">add new record about Experiences of work in this company</li>
        </ul>
      </li>
    </ul>


    <ol style="margin-left:40px;" ng-repeat="one in info.work_before">
      <li   class="classOne">{{one.company}}</li>
      <li   class="classTwo">{{one.duration}}</li>
      
    </ol>
  </div>

</span>