
<form class="login">
    <p>
      <label for="login">Email:</label>
      <input type="email" ng-model="email" placeholder="name@example.com">
    </p>

    <p>
      <label for="password">Password:</label>
      <input type="password" ng-model="password"  placeholder="********" >
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button" ng-click="signIn(email,password)"  >Login</button>
    </p>
        <h1 style="color:white; font-size:15px;">{{msg}}</h1>


    <p class="forgot-password"><a >Forgot your password?</a></p>
  </form>
	