
<form class="login">
    <p>
      <label for="login">first name:</label>
      <input type="text"  placeholder="first" ng-model="firstName" required>
    </p>
    <p>
      <label for="login">last name:</label>
      <input type="text" placeholder="last" ng-model="lastName" required>
    </p>
    <p>
      <label for="login">Email:</label>
      <input type="email" placeholder="name@example.com" ng-model="email" required>
    </p>

    <p>
      <label for="password">Password:</label>
      <input type="password"   placeholder="********" ng-model="password" required>
    </p>

    <p class="login-submit" style="margin-top:50px">
      <button type="submit" class="login-button" ng-click="signUp(firstName,lastName,email,password)" >Login</button>
    </p>
    <h1 style="color:white; font-size:15px;">{{msg}}</h1>

  </form>
	